APP_NAME="Biswas Automation"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
INERTIA_USE_SCRIPT_ELEMENT_FOR_INITIAL_PAGE=true
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=biswas_automation
DB_USERNAME=root
DB_PASSWORD=
